.menu {
  display: grid;
  align-items: center;
  grid-template-areas:
  "A B C";
  grid-template-columns: 1fr 2fr 1fr;
  padding: 20px 30px;
  background-color: transparent;
  transition: 0.3s ease;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: left;
}

.navbar {
  display: initial;
  margin: 0;
}

.navbar__container {
  display: flex;
  justify-content: center;
}

.hamburger {
  display: none;
}

.toggle--menu {
  display: initial;
  justify-self: right;
  margin-right: 20px;
  padding: 15px 20px;
  background-color: #42B3FA;
}

.navbar__item {
  position: relative;
}
.navbar__item:hover {
  background-color: transparent;
}

.navbar__item::after {
  content: url("../images/navbar-underline.svg");
  position: absolute;
  top: -30px;
  left: 0;
  z-index: 0;
  opacity: 0;
  transition: 0.3s ease;
}

.navbar__item:hover::after {
  opacity: 1;
}

.navbar__sub-container {
  position: absolute;
  top: 40px;
  left: 0;
  margin: 0;
  min-width: 200px;
  background-color: white;
  border-radius: 10px;
  z-index: 1;
  transition: 0.5s ease;
}

.navbar__sub-item:first-child {
  border-radius: 10px 10px 0 0;
  margin: 0;
}
.navbar__sub-item:last-child {
  border-radius: 0 0 10px 10px;
  margin: 0;
}
.navbar__sub-item:only-child {
  border-radius: 10px;
}

.navbar__sub-item:hover {
  background-color: #e6e5e5;
}
.navbar__text {
  text-wrap: nowrap;
}

.navbar__text--sub {
  color: black;
}

.wrapper {
  padding: 160px 60px;
}
.wrapper--stores {
  display: flex;
}

@media (min-width: 1650px) {
  .wrapper {
    justify-content: center;
  }
  .wrapper--first {
    background-size: cover;
    background-position: 0;
  }
  .picture--download {
    min-width: 50vw;
  }
}
.wrapper--footer {
  padding: 30px 25px;
}
.container--columns {
  justify-content: space-evenly;
}

.container--center {
  max-width: 1100px;
  margin: 0 auto;
}

.container--picture {
  margin-left: 10vw;
}

.container--stores {
  display: flex;
  align-items: center;
}
.container--stores:first-child {
  margin-right: 80px;
}
.picture--app {
  width: 200px;
  height: 60px;
  max-width: 250px;
}
.picture--mainpage {
  width: 600px;
}

/* wrapper--pre-fotter */

.logo__item--pre-footer {
  width: 140px;
}

.container--cells {
  grid-template-areas:
    "A A A B C D";
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
}