@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
  font-weight: 600;
}

/* global */

* {
  font-family: Poppins;
}

.menu * {
  color: white;
}

.header {
  font-size: 2rem;
  line-height: 1;
  color: white;
}

.text {
  font-size: 1rem;
  color: white;
}

.toggle {
  font-size: 1.1rem;
  color: white;
  font-weight: 600;
}

/* tablet */
@media (min-width: 740px) {
  .header {
    font-size: 2.5rem;
  }
  .text {
    font-size: 1.25rem;
  }
  .toggle {
    font-size: 1.375rem;
  }
}