@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
  font-weight: 600;
}

/* global */

* {
  font-family: Poppins;
}

.menu * {
  color: white;
}

.header {
  font-size: 2rem;
  line-height: 1;
  font-weight: 300;
  color: white;
}

.header--alpha {
  color: black
}

.text {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}
.text--alpha {
  color: #727272;
  font-weight: 300;
}
.text--big,
.rating {
  font-size: 1.1rem;
}
.rating {
  color: white;
}

.icon__description {
  font-size: 1.4rem;
  font-weight: 300;
  color: black;
}

.toggle {
  font-size: 1.1rem;
  color: white;
  font-weight: 600;
}

/* tablet */
@media (min-width: 740px) {
  .header {
    font-size: 2.5rem;
  }
  .text {
    font-size: 1.25rem;
  }
  .icon__description {
    font-size: 1.5rem;
  }
  .toggle {
    font-size: 1.375rem;
  }
}

/* desktop */
@media (min-width: 1000px) {
  .header {
    font-size: 3.2rem;
  }
  .text {
    font-size: 1.5rem;
  }
  .toggle {
    font-size: 1.67rem;
  }
}
.toggle--menu {
  font-size: 1rem;
}