@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
  font-weight: 600;
}

/* global */

* {
  font-family: Poppins;
}

.menu * {
  color: white;
}

.header {
  font-size: 2rem;
  line-height: 1;
  font-weight: 300;
  color: white;
}

.header--alpha {
  color: black
}

.text {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}
.text--alpha {
  color: #727272;
  font-weight: 300;
}
.text--big,
.rating {
  font-size: 1.1rem;
}
.cell__text,
.cell__text--bigger {
  color: #C7C7C7;
}
.cell__text--bigger {
  font-size: 1.2rem;
}
.rating {
  color: white;
}
.plan__item {
  font-size: 1rem;
  font-weight: 500;
  color: #727272;
}
.plan__name {
  font-size: 1rem;
  font-weight: 600;
  color: black;
}
.plan__price {
  font-size: 1.2rem;
  font-weight: 600;
}
.plan__price--basic {
  color: #0181F5;
}
.plan__price--team {
  color: #FDAE5C;
}
.plan__price--business {
  color: #00D363;
}

.icon__description {
  font-size: 1.4rem;
  font-weight: 300;
  color: black;
}

.toggle {
  font-size: 1.1rem;
  color: white;
  font-weight: 600;
}

/* tablet */
@media (min-width: 740px) {
  .header {
    font-size: 2.5rem;
  }
  .text {
    font-size: 1.25rem;
  }
  .icon__description {
    font-size: 1.5rem;
  }
  .toggle:not(.toggle--plan, .toggle--menu) {
    font-size: 1.375rem;
  }
}

/* desktop */
@media (min-width: 1100px) {
  .header {
    font-size: 3.2rem;
  }
  .text {
    font-size: 1.5rem;
  }
  .plan__item,
  .plan__name,
  .plan__price {
    font-size: 1.25rem;
  }
  .toggle:not(.toggle--plan, .toggle--menu) {
    font-size: 1.67rem;
  }
}
.toggle--menu {
  font-size: 1rem;
}