.menu {
  min-height: 60px;
  background-color: #2C2C2C;
}
.hamburger__input {
  display: none;
}

.wrapper--first {
  background-image: url(../images/banner/banner.png);
  background-repeat: no-repeat;
}

.container--picture {
  text-align: center;
}