/* menu */

.menu {
  padding: 10px 30px;
}
.logo {
  display: inline-block;
}
.hamburger {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 20px;
}
.hamburger__picture {
  width: 20px;
}
.hamburger__input:checked + .hamburger > .hamburger__picture {
  content: url(../images/x-mark.svg);
}
.hamburger__input:checked ~ .navbar {
  display: initial;
}

/* || navbar */

.navbar {
  display: none;
}

.navbar__item:hover {
  background-color: #4C4C4C;
}

.navbar__sub-container {
  margin: 10px 20px;
}

.navbar__sub-item:first-child {
  margin-top: 10px;
}
.navbar__sub-item:last-child {
  margin-bottom: -10px;
}

.navbar__sub-item:hover {
  border-radius: 40px;
  background-color: #9a9a9a;
}

/* || */

.toggle--menu {
  display: none;
}

/* | */

.wrapper--first {
  padding-top: 60px;
  background-position-x: right;
  background-position-y: 60px;
}

.container {
  padding: 30px 25px;
}



.icon__description {
  max-width: 230px;
}
